name: Build GraphDB Lucene Plugin

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        # Added -U to force update of snapshots/missing dependencies
        run: mvn clean package -U 

      - name: Upload Plugin Zip
        uses: actions/upload-artifact@v4
        with:
          name: lucene-fts-plugin
          path: target/*.zip
